
.table-container {
    padding: 5px 15px 15px 15px;
  ;
  }
  .table-component-holder {
    border: 1px solid #327ebd;
    background-color: white;
  
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-header-cell {
    display:flex;
    justify-content:center;
  }
  
  .mat-row{
    min-height:33px;
  }
  
  .mat-header-row{
    background-color: #9cb5e4;
  }
  .mat-row:nth-child(even){
    background-color: #e9e5e5;
    height: 10px;
  
  }
  .table-header{
    color: white;
  }
  
  .mat-cell{
    text-align: center
  }