<mat-sidenav-container class="container" fullscreen>
    <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <mat-toolbar class="mat-elevation-z4 table-header">
            <!-- <img src="./assets/logo_hospital.png" width="300px" height="50px" >  -->
            <h1 style="font-size: 26px;font-family: Roboto;color:white;margin-top: 5px">
                Soldev Daily Record
                <span style="font-size: 10px;"></span>
            </h1>
        </mat-toolbar>

        <cdk-sidemenu></cdk-sidemenu>

    </mat-sidenav>
    <mat-sidenav-content style="z-index: unset;overflow: hidden;">
        <mat-drawer-container fullscreen>
            <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
                <mat-toolbar class="mat-elevation-z4 table-header">
                    <!-- <img src="./assets/logo.codetok.png" width="36px" height="50px"> -->
                    <h1 style="font-size: 26px;font-family: Roboto;color:white;margin-top: 8px">
                        SDDR
                        <span style="font-size: 12px;"></span>
                    </h1>
                </mat-toolbar>
                <cdk-sidemenu [iconOnly]="true"></cdk-sidemenu>
            </mat-drawer>
            <mat-drawer-content style="overflow: hidden;">

                <!-- <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer"  [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar> -->
                <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>

               
                <perfect-scrollbar style="height: calc(100% - 33px);">

                    <div style="height: 100%;" >

                        <router-outlet #route="outlet">
                            <!-- <img src="./assets/logo_background.png" style="width:40%" > -->
                        </router-outlet>

                    </div>

                </perfect-scrollbar>

            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>


    <!-- <mat-sidenav #sidenav2 position="end" mode="over">
    
    <cdk-sidebar></cdk-sidebar>
    </mat-sidenav> -->

</mat-sidenav-container>