<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar class="table-header mat-elevation-z4">
    <button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>
    <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>





    <span class="spacer"></span>
    <!-- 
    style="height: 10vh;width: 100vw;" -->
    <!-- <img src="./assets/logo_hospital.png" class="imgPlaceholder" width="230" height="230"> -->
    <!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="10"> -->
    <!-- <form class="imgPlaceholder">
        <img src="./assets/logo_hospital.png">
    </form> -->
<!-- 
    <div class="hospitalName">

    </div>

    <div class="hospitalName" [ngSwitch]="isAdmin" >
        <div *ngSwitchCase="'true'">
            <mat-form-field >
                <mat-select Class="my" >
                    <mat-option *ngFor="let hospital of arrobjhospital" [value]="hospital.hospitalCode">
                        {{hospital.hospitalName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngSwitchCase="'false'">
            <label *ngFor="let hospital of arrobjhospitalID">
                {{hospital.hospitalName}}
            </label>
        </div>
    </div> -->

   


    <!-- <button  mat-icon-button (click)="searchOpen = !searchOpen" fxHide="true" [fxHide.gt-xs]="false">
        <i class="material-icons">search</i>
    </button> -->
    <!-- <cdk-search-bar [open]="searchOpen"></cdk-search-bar> -->

    <!-- <cdk-fullscreen></cdk-fullscreen> -->

    <!-- <cdk-toolbar-notification [notifications]="toolbarHelpers?.notifications"></cdk-toolbar-notification> -->

    <cdk-user-menu [currentUser]="toolbarHelpers?.currentUser"></cdk-user-menu>
    <!-- </div>
    </div> -->

    <!-- <button mat-icon-button (click)="sidebar.toggle();">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button> -->

</mat-toolbar>