.mat-dialog-container {
   padding:0px !important;
   padding: 12px 12px 25px 25px;
}


.textbody{
 color: red !important;
}


.mat-toolbar{
  display: flex;
  color: white !important;
  font-size: 18px !important;
 
 }

.iconsize{
  font-size: 48px !important;
  width: 50%;
  height: 60%;
 
}
