
.table-container {
  padding: 5px 15px 15px 15px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  display:flex;
  justify-content:center;
}

.mat-cell{
  display:flex !important;
  justify-content:center;
}

.mat-cell-number{
  display:flex !important;
  justify-content:flex-end!important;
  text-align: center;
}

.mat-cell-icon{
  display:flex !important;
  justify-content:center;
}

.table-component-holder {
  border: 1px solid #5c6bc0 !important;
  background-color: white !important;
  color: white;
}

.mat-row{
  min-height:33px;
}

.mat-header-row{
  background-color: #9cb5e4;
}
.mat-row:nth-child(even){
  background-color: #e9e5e5;
  height: 10px;
  color: white;
}
.mat-row:hover {
  background-color:#faf9c8d3;
}
.table-header {
  background-color: #327ebd;
  color: white;
  padding: 0 5px;
  height: 50px;
}

.spinner-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-actions {
  flex: 0 0 100px;
  align-content: center;
}

.Month{
  width: 100px;
}

.mat-header-cell{
  font-size: 14px;
  font-weight: bold;
}