.table-header {

    color: white;
    padding: 0 5px;
    height: 50px;
}

.table-container {
    padding: 5px 15px 15px 15px;
}
.table-component-holder {
    border: 1px solid #327ebd;
    background-color: white;
}

#wdr-pivot-view {
    background-color: #eff9ff;
  }
  
  #wdr-pivot-view {
    background-color: #cceeff;
  }
  

  #fm-toolbar-wrapper {
    height: 80px;
 }